/* RESET */
img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
.ms_small_container {
    width: 60%;
    max-width: 720px;
    margin: 0 auto;
}
/* Styles */
.ms_jumbotron {
    background-color: #1ABC9C;
}
.ms_about {
    background-color: #1ABC9C;
}
.ms_footer_top {
    background-color:#3A546D;
}
.ms_footer_bottom {
    background-color: #2C3E50;
}
.ms_decoration {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ms_decoration div {
    border-radius: 1px;
    height: 3px;
    width: 100px;
}

/* HEADER */
header {
    width: 100%;
    height: 70px;
    background-color: #2C3E50;
}

/* MAIN */
/* Jumbotron */
.ms_avatar {
    width: 200px;
} 
/* Contact section */
.ms_btn_green {
    background-color: #1ABC9C;
    color: white;
}
.ms_contact_info {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.ms_contact_info:focus {
    border-color: unset;
    box-shadow: none;
}
/* Footer top */
.ms_footer_top p {
    margin-bottom: .3rem;
}
.ms_social span {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: .5rem .8rem;
    border: 1px solid white;
    border-radius: 50%;
    
}
 .ms_start_bootstrap {
    color: #1ABC9C;
} 
